pre.sf-dump {
    z-index: 100 !important;
}


#mainMap {
    width: 100%;
    height: 600px;
    background-color: grey;
}

#mapSpinnerDiv {
    height: 50px;
}

#navbarTop {
	
	background-color: #666 !important;
}