{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">

                <div class="text-center " id="mapSpinnerDiv">
                    <div id="mapSpinner" class="spinner-border text-success text-center " role="status" style="display: none"></div>
                </div>


                <input id="pac-input" class="controls" type="text" placeholder="Search Box">

                <div id="mainMap">

                    <div class="spinner-border text-success text-center" role="status"><span class="sr-only">Loading...</span></div>

                </div>

            </div>

        </div>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyD0EGW4VTcGp9v95uv6uRj5kQCrE94u5Ek">
    </script>


{#

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0EGW4VTcGp9v95uv6uRj5kQCrE94u5Ek">
    </script>


#}




    <div class="modal" tabindex="-1" role="dialog" id="mapResults">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Results</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function () {
            setTimeout(initMap, 2000);
        });
    </script>

{% endblock %}